<!DOCTYPE html>
<html>
<head>
	<title>Insurance</title>
</head>
<body>

	<center>
		<h1>Insurance Prediction</h1>
		<form action="\insurance" method="post" enctype="application/x-www-form-urlencoded">
<p>
	<label>Enter Age:</label>
	</p>
	<p>
	<input type="text" name="age">

</p>
<p>
	<label>Enter Sex:</label>
	</p>
	<p>
	<input type="radio" name="sex" value="0">Female <br>
	<input type="radio" name="sex" value="1">Male <br>

</p>
<p>
	<label>Enter Bmi:</label>
	</p>
	<p>
	<input type="text" name="bmi">

</p>
<p>
	<label>Enter number of children:</label>
	</p>
	<p>
	<input type="text" name="children">

</p>
<p>
	<label>Enter Smoker or not:</label>
	</p>
	<p>
	<input type="radio" name="smoker" value="0">Yes <br>
	<input type="radio" name="smoker" value="1">No <br>

</p>
<p>
	<label>Enter Region:</label>
	</p>
	<p>
	<input type="text" name="region">

</p>
<p>
	<input type="submit" value="Predict Insurance">
</p>
</form>
</center>
</body>
</html>